/* body:-webkit-scrollbar {
    display: none;
    
  } */
  body{
    font-family: myFirstFont;
  }
  @font-face {
    font-family: myFirstFont;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
  }
.content{
    padding: 100px 0;
    color: rgb(0, 63, 46);

}
.content h1{
    font-size: 60px;
    color: rgb(0, 63, 46);
    font-weight: 400;
    margin-bottom: 30px;
}
.button{
    background-color: rgb(0, 63, 46);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transform: .3s ease-in-out;
    margin-top: 30px;
    
}
.button:hover{
    background-color: white;
    color: rgb(0, 63, 46);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
    transition: .7s ease-in-out;
    transform: scaleX(2);
    border: 1pt solid rgb(0, 63, 46);

}
.img-rs{
    margin-top: 40px;
    margin-bottom: 40px;
}
.research{
    color:rgb(0, 63, 46);
    
}
.research h1{
    position: relative;
    top: 34px;
}
.research p, .research a{
    position: relative;
    top: 40px;
    
}
.research p{
    opacity: .8;
}
.image{
    align-items: center;
}
.image img{
    margin-left: 200px;
    margin:40px;

}
.founder{
    padding: 20px 50px;
    background-color: #006b4e ;
    color: aliceblue;
}
.qoutes h1,.qoutes p{
    position: relative;
    top: 121px;
    color:black;
    opacity: .8;

}
.qoutes p{
    opacity: .8;
}
.qoutes a{
    position: relative;
    top: 121px;
    color: #006b4e;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    transform: .3s ease-in-out;
}
.qoutes a:hover{
    color: white;
    opacity: .8;
    transform: .7s ease-in-out;
    transform: scaleX(2);
    border: 1pt solid white;
    border-radius: 20px;
    padding: 10px 15px;
}
.para{
    font-size: 23px;
    font-weight: 400;
}
.butt{
    
    text-decoration: none;
    color:#2eb9a4 ;
    font-size: 23px;
    transform: .7s ease-in-out;

}
.butt:hover{
    opacity: .8;
    text-decoration: none;

}
.quiklinks li a{
    text-decoration: none;
    display: block;
    color: black;
    font-weight: 500;
    font-size: 15px;
    transition: all .7s ease-in-out;

    
}


.quiklinks li {
    text-decoration: none;
    font-weight: 400;
    display: block;

}
.quiklinks li a:hover{
    opacity: .8;
    
}
.quiklinks li a:hover:after{
    content: "-";
}
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff ;
	z-index: 999;
}
#loader h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Desktop Display */
@media screen and (max-width:1920px) and (min-width:900px) {
.webdesign{
    position: relative;
    left: 180px;
}

}
/* Mobile Display 768px */
@media (max-width:768px ) {
    .webdesign{
        position: relative;
        left: 0px;
    }
    .learnm{
        position: relative;
        left: 6%;
    }
    .content h1{
        font-size: 50px;
        font-size: 35px;
        text-align: center;
    }
    .content p{
        font-size: 17px;
        text-align: center;
    }
    .content a{
        text-align: center;
        margin-left: 30%;
    }
    .research h1{
        position: relative;
        top: -8px;
        text-align: center;
    }
    .research p, .research a{
        position: relative;
        top: -8px;
        text-align: center;
    }
    .research p{
        opacity: .8;
        font-size: 18px;
    }
    .research a{
        left: 92px;
    }
    .button{
        background-color: rgb(0, 63, 46);
        color: #fff;
        padding: 7px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        transform: .3s ease-in-out;
        
    }
    #skj{
        margin-top: 20px;
    }
    .button:hover{
        background-color: white;
        color: rgb(0, 63, 46);
        padding: 7px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        opacity: 0.8;
        transform: .7s ease-in-out;
        transform: scaleX(2);
        border: 1pt solid rgb(0, 63, 46);
    
    }
    .qoutes h1,.qoutes p{
        position: relative;
        top: 0px;
        color:black;
        opacity: .8;
        text-align: center;
    
    }
    .qoutes p{
        opacity: .8;
        font-size: 12px;
    }
    .qu{
        font-size: 13px;
    }
    .butt{
       display:none
    }
    .butt:hover{
        opacity: .8;
        text-decoration: none;
    
    }
}



/* Tab Display */
@media screen and (max-width:900px) and (min-width:768px) {
    .webdesign{
        position: relative;
        left: 10px;
    }
    .content h1{
        font-size: 50px;
        font-size: 35px;
        
    }
    

.content p{
    font-size: 17px;
    
}

.research h1{
    position: relative;
    top: -8px;
    
}
.research p, .research a{
    position: relative;
    top: -8px;
    
}
.research p{
    opacity: .8;
    font-size: 18px;
}
.banner{
    
        position: relative;
        top: 24%;
}


}