/* body:-webkit-scrollbar {
    display: none;
    
  } */
  body{
    font-family: myFirstFont;
    font-weight: 500;
    background: url('../animated_medium20201028-822-ike4dl.mp4') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color:#E5E5E3;
    
    
  }
  ::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width if necessary */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Hide the track */
}
  @font-face {
    font-family: myFirstFont;
    src: url(/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
  }
  .navbar-toggler-icon {

  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-menu-item {
    margin: 0 15px;
}

.brand-slagon {
    font-size: 2.5rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #333;
    animation: typing 2s steps(40), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}
.navbar {
    background-color: #E5E5E3;
}
.container {
    position: relative;
    text-align: center;
}

.brand-slagon {
    font-size: 4rem;
    color: ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #333;
    animation: typing 2s steps(60), blink-caret 0.75s step-end infinite;
    display: inline-block;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

.brand-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.brand-button:hover {
    background-color: #222;
}

@media (max-width: 767px) {
    .brand-slagon {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .brand-slagon {
        font-size: 2.4rem;
        color: #fff;
    }
}
.banner{
    background: url('/image/banner.jpg') no-repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            height: 100vh; /* Set the height to 100% of the viewport height */
}
img {
    border-radius: 10px; /* Adjust the border-radius to control the amount of rounding */
    width: 100%; /* Adjust the width to set the size of the image */
    max-width: 400px; /* Set the maximum width to ensure it doesn't become too large on larger screens */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Set the container to occupy full height */
}

/* Center-align team-text and team-text-2 from the top */
.team-text {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 20%;/* Remove default margin to align from the top */
}

.team-text-2 {
    font-size: 1.2rem;
    margin-top: 0%; 
    /* Set the opacity to 50% to indicate that the text is not active */
    /* Add margin to separate the texts */
}
/* For small screens, adjust font-size for responsive text */
@media (max-width: 576px) {
    .team-text {
        font-size: 1.5rem;
    }

    .team-text-2 {
        font-size: 1rem;
    }
}
.section-team {
    background-color: white; /* Add a background color for a rounded corner effect */
}
