/* body:-webkit-scrollbar {
    display: none;
    
  } */
  body{
    font-family: myFirstFont;
    font-weight: 500;
    background: url('../animated_medium20201028-822-ike4dl.mp4') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color:#E5E5E3;
      overflow-x:hidden;
    
    
  }
  ::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width if necessary */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Hide the track */
}
  @font-face {
    font-family: myFirstFont;
    src: url(/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
  }
  .navbar-toggler-icon {

  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-menu-item {
    margin: 0 15px;
}

.brand-slagon {
    font-size: 2.5rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #333;
    animation: typing 2s steps(40), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}
.navbar {
    background-color: #E5E5E3;
}
.container {
    position: relative;
    text-align: center;
}

.brand-slagon {
    font-size: 4rem;
    color: ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #333;
    animation: typing 2s steps(60), blink-caret 0.75s step-end infinite;
    display: inline-block;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

.brand-button {
    background-color: #000;
    color: #fff;
    padding: 7px 30px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.brand-button:hover {
    background-color: #222;
}

@media (max-width: 767px) {
    .brand-slagon {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .brand-slagon {
        font-size: 2.4rem;
        color: #fff;
    }
}
.banner{
    background: url('/image/banner.jpg') no-repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            height: 100vh; /* Set the height to 100% of the viewport height */
}
img {
    border-radius: 10px; /* Adjust the border-radius to control the amount of rounding */
    width: 100%; /* Adjust the width to set the size of the image */
    max-width: 400px; /* Set the maximum width to ensure it doesn't become too large on larger screens */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Set the container to occupy full height */
}

/* Center-align team-text and team-text-2 from the top */
.team-text {
    font-size: 5rem;
    font-weight: 600;
    margin-top: 20%;/* Remove default margin to align from the top */
}

.team-text-2 {
    font-size: 1.2rem;
    margin-top: 0%; 
    /* Set the opacity to 50% to indicate that the text is not active */
    /* Add margin to separate the texts */
}
/* For small screens, adjust font-size for responsive text */
@media (max-width: 576px) {
    .team-text {
        font-size: 2.7rem;
    }

    .team-text-2 {
        font-size: 1rem;
    }
}
.section-team {
    background-color: white; /* Add a background color for a rounded corner effect */
}
.enlist-button{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    margin-top: 7px;

}
.section-vision {
    background-color: white;
    padding: 40px 0;
    text-align: center;
    overflow: hidden; /* Hide the overflowing text */
}

.section-vision p {
    font-size: 3rem;
    line-height: 1.2; /* Adjust line height for appropriate spacing */
    animation: running-line 10s linear infinite; /* Animation settings */
    white-space: nowrap; /* Prevent line break */
    padding: 0; /* Remove padding for better alignment */
    margin: 0; /* Remove margin for better alignment */
}

/* Keyframes for the running line animation */
@keyframes running-line {
    0% {
        transform: translateX(100%); /* Start from right side */
    }
    100% {
        transform: translateX(-100%); /* Move to left side */
    }
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .section-vision p {
        font-size: 2rem;
        line-height: 1.5; /* Adjust line height for smaller screens */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-vision p {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section-vision p {
        font-size: 2.8rem;
    }
}


/* Common styles for the section */
.section-projects {
    background-color: #f0f0f0;
    padding: 40px 0;
    text-align: center;
}

.section-projects h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.head-neurometaps {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
}

.para-neurometaps {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
    color: #555;
}
.head-style{
    font-size: 5rem;
}
/* Responsive adjustments */
@media (max-width: 576px) {
    .section-projects h3 {
        font-size: 2rem;
    }

    .head-neurometaps {
        font-size: 1.8rem;
    }

    .para-neurometaps {
        font-size: 1rem;
    }
    .head-style{
        font-size: 3rem;
    }

}


/* Animation for the image */
.animated {
    animation: moveImage 4s linear infinite alternate;
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}






.section-projects2 {
    background-color: #f0f0f0;
    padding: 40px 0;
    
}

.section-projects2 h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.section-projects2 h1 {
    font-size: 7rem;
    color: #000;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .section-projects2 h3 {
        font-size: 1.4rem;
    }

    .section-projects2 h1 {
        font-size: 3rem;
    }

    
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.pickmi-content {
    
    color: #020202;
}

.pickmi-content h3 {
    font-size: 10rem;
    margin-bottom: 20px;
    letter-spacing: 5px;
    margin-left: 20px;
}

.pickmi-content p {
    font-size: 3rem;
    margin-bottom: 10px;
    line-height:.7;
    letter-spacing: 10px;
    margin-left: 20px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .pickmi-content h3 {
        font-size: 5rem;
    }

    .pickmi-content p {
        font-size: 1.5rem;
    }
}


.app-icons {
    display: flex;
    align-items: center;
  }
  
  .appstore-image,
  .playstore-image {
   width: 20p;
    margin-right: 10px;
  }
  




.Appstore {
    font-size: 3rem;
    line-height: 1.2; /* Adjust line height for appropriate spacing */
    animation: running-line2 10s linear infinite; /* Animation settings */
    white-space: nowrap; /* Prevent line break */
    padding: 0; /* Remove padding for better alignment */
    margin: 0; /* Remove margin for better alignment */
}

/* Keyframes for the running line animation */
@keyframes running-line2 {
    0% {
        transform: translateX(-100%); /* Start from right side */
    }
    100% {
        transform: translateX(100%); /* Move to left side */
    }
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .Appstore {
        font-size: 2rem;
        line-height: 1.5; /* Adjust line height for smaller screens */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Appstore {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Appstore {
        font-size: 2.8rem;
    }
}




/* Your existing styles */

/* Custom Styles for Social Media Section */
.social-icons {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.social-icon {
    font-size: 2rem;
    color: #333;
    margin: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: #598181; /* Change to your desired hover color */
}

/* Responsive Adjustments */
@media (max-width: 576px) {
    .social-icon {
        font-size: 1.5rem;
    }
}



